body {
    color: white;
}
#graph {
    margin: 3px;
    height: 20px;
    padding-top: 7px;
    padding-left: 10px;
}
.graph1 {
    width: calc(400px * 0.6);
    background: red;
}
.graph2 {
    width: calc(400px * 0.9);
    background: blue;
}
.graph3 {
    width: calc(400px * 0.5);
    background: green;
}
.graph4 {
    width: calc(400px * 0.8);
    background: gray;
}
.graph5 {
    width: calc(400px * 0.75);
    background: rgb(145, 143, 78);
}